<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Date" class="java.util.Date"></bean>

    <bean id="dog" class="com.lck.spring6.bean.Dog">
        <property name="name" value="小黑"/>
        <property name="age" value="8"/>
        <property name="birth" ref="Date"/>
     </bean>
</beans>